{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block body %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1> </h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Devices List</li>
            </ol>
          </div>

            <div class="col-md-50">
            <div class="card card-success collapsed-card" style="transition: all 0.15s ease 0s; height: inherit; width: inherit;">
              <div class="card-header">
                <h3 class="card-title">Search</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="maximize">
                    <i class="fas fa-expand"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-plus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body"><span class="text-danger">
                <form method="GET">
                  {% bootstrap_form myfilter.form %}
                  <input type="submit" value="Search" class="btn btn-block btn-success btn-lg mt-2">
              </form>
            </span></div>

              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>

        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- /.row -->
      <div class="row">

          <div class="col-12">
            <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">{{devices.count}} All Devices Available </h3>
            <!-- Paginations -->
            {% if devices.has_other_pages %}
                <div class="card-tools">
                  <ul class="pagination pagination-sm float-right">
                      {% if devices.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{devices.previous_page_number}}">&laquo;</a></li>
                      {% endif %}
                      {% for i in devices.paginator.page_range %}
                        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                      {% endfor %}
                      {% if devices.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{devices.next_page_number}}">&raquo;</a></li>
                      {% endif %}
                  </ul>

                </div>
            {% endif %}
        </div>
        <div class="card-body p-0">
          <table class="table table-striped projects">
              <thead>
                  <tr>
                      <th style="width: 1%">
                          #
                      </th>
                      <th style="width: 2%">
                          Code
                      </th>
                      <th style="width: 2%">
                          Type
                      </th>
                      <th style="width: 10%">
                          Name
                      </th>
                      <th style="width: 10%">
                          Motherboard
                      </th>
                      <th style="width: 10%">
                          CPU
                      </th>
                      <th style="width: 5%">
                          RAM
                      </th>
                      <th style="width: 5%">
                          HDD
                      </th>
                      <th style="width: 5%">
                          Status
                      </th>
                      <th style="width: 5%">
                          Sites
                      </th>
                      <th style="width: 5%">
                          Price
                      </th>
                      <th style="width: 5%">
                          Other
                      </th>
                      <th style="width: 20%">
                      </th>
                  </tr>
              </thead>
              {% for device in devices %}
              <tbody>
                  <tr>
                      <td>
                          #
                      </td>
                      <td>
                          <a>
                              {{device.device_code}}
                          </a>
                          <br/>
                      </td>
                      <td>
                          <a>
                              {{device.device_type}}
                          </a>
                          <br/>
                      </td>
                      <td>
                          <a>
                              {{device.model_name}}
                          </a>
                          <br/>
                          <small>
                              {{device.date|date:'d M o'}}
                          </small>
                      </td>
                      <td>
                          <a>
                              {{device.motherboard}}
                          </a>
                          <br/>
                      </td>
                      <td>
                          <a>
                              {{device.cpu}}
                          </a>
                          <br/>
                      </td>
                      <td>
                          <a>
                              {{device.ram}}
                          </a>
                          <br/>
                      </td>
                      <td>
                          <a>
                              {{device.hdd}}
                          </a>
                          <br/>
                      </td>
                      <td>
                          <a>
                              {{device.status}}
                          </a>
                          <br/>
                      </td>
                      <td>
                          <a>
                              {{device.sites}}
                          </a>
                          <br/>
                      </td>
                      <td>
                          <a>
                              {{device.price}}
                          </a>
                          <br/>
                      </td>
                      <td>
                          <a>
                              {{device.other}}
                          </a>
                          <br/>
                      </td>

                      <td class="project-actions text-right">
                          <a class="btn btn-primary btn-sm" href="{% url 'devices:device_detail' device.slug %}">
                              <i class="fa fa-fw fa-laptop" aria-hidden="true"></i>
                              View
                          </a>
                          <a class="btn btn-info btn-sm" href="{% url 'devices:device_edit' device.slug %}">
                              <i class="fas fa-pencil-alt">
                              </i>
                              Edit
                          </a>
                          <a class="btn btn-danger btn-sm" href="{% url 'devices:delete_device' device.slug %}">
                              <i class="fas fa-trash">
                              </i>
                              Delete
                          </a>
                      </td>
                  </tr>

              </tbody>
              {% endfor %}
          </table>
            <!---
            {% if device.has_other_pages %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="pagination_wrap">
                            <ul>
                                {% if device.has_previous %}
                                    <li><a href="?page={{jobs.previous_page_number}}"> <i class="ti-angle-left"></i> </a></li>
                                {% endif %}

                                {% for i in device.paginator.page_range %}
                                    <li><a href="?page={{i}}"><span>{{i}}</span></a></li>
                                {% endfor %}

                                {% if device.has_next %}
                                    <li><a href="?page={{jobs.next_page_number}}"> <i class="ti-angle-right"></i> </a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}
            --->
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
            <!-- /.card -->
          </div>
        </div>
    </section>
    <!-- /.content -->
  </div>

{% endblock body %}

