{% extends 'base.html' %}

{% block body %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Device Detail</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Device</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <label for="inputName" class="col-sm-2 col-form-label">{{device.model_name}}</label>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
           <label for="inputName" class="col-sm-2 col-form-label">Code:</label>{{device.device_code}}
        </div>
        <div class="card-body">
           <label for="inputName" class="col-sm-2 col-form-label">Type:</label>{{device.device_type}}
        </div>
        <div class="card-body">
           <label for="inputName" class="col-sm-2 col-form-label">Name:</label>{{device.model_name}}
        </div>
        <div class="card-body">
           <label for="inputName" class="col-sm-2 col-form-label">Motherboard:</label>{{device.motherboard}}
        </div>
        <div class="card-body">
           <label for="inputName" class="col-sm-2 col-form-label">CPU:</label>{{device.cpu}}
        </div>
        <div class="card-body">
           <label for="inputName" class="col-sm-2 col-form-label">RAM:</label>{{device.ram}}
        </div>
        <div class="card-body">
           <label for="inputName" class="col-sm-2 col-form-label">HDD:</label>{{device.hdd}}
        </div>
        <div class="card-body">
           <label for="inputName" class="col-sm-2 col-form-label">Created at:</label>{{device.date}}
        </div>
        <div class="card-body">
           <label for="inputName" class="col-sm-2 col-form-label">Status:</label>{{device.status}}
        </div>
        <div class="card-body">
           <label for="inputName" class="col-sm-2 col-form-label">Sites:</label>{{device.sites}}
        </div>
        <div class="card-body">
           <label for="inputName" class="col-sm-2 col-form-label">Price:</label>{{device.price}}
        </div>
        <div class="card-body">
           <label for="inputName" class="col-sm-2 col-form-label">Other</label>{{device.model_name}}
        </div>
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>

{% endblock body %}

