{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block body %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1> </h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Employee List</li>
            </ol>
          </div>

            <div class="col-md-50">
            <div class="card card-success" style="transition: all 0.15s ease 0s; height: inherit; width: inherit;">
              <div class="card-header">
                <h3 class="card-title">Search</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="maximize">
                    <i class="fas fa-expand"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body"><span class="text-danger">
                <form method="GET">
                  {% bootstrap_form myfilter.form %}
                  <input type="submit" value="Search" class="btn btn-block btn-success btn-lg mt-2">
              </form>
            </span></div>

              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>

        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- /.row -->

      <div class="row">

          <div class="col-12">
            <!-- Main content -->
    <section class="content">


      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">{{total_employees}} All Employees </h3>
            <!-- Paginations -->
            {% if employees.has_other_pages %}
                <div class="card-tools">
                  <ul class="pagination pagination-sm float-right">
                      {% if employees.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{employees.previous_page_number}}">&laquo;</a></li>
                      {% endif %}
                      {% for i in employees.paginator.page_range %}
                        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                      {% endfor %}
                      {% if employees.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{employees.next_page_number}}">&raquo;</a></li>
                      {% endif %}
                  </ul>

                </div>
            {% endif %}
        </div>
        <div class="card-body p-0">
          <table class="table table-striped projects">
              <thead>
                  <tr>
                      <th style="width: 5%">
                          ID
                      </th>
                      <th style="width: 10%">
                          Name
                      </th>
                      <th style="width: 5%">
                          National ID
                      </th>
                      <th style="width: 10%">
                          Birth Date
                      </th>
                      <th style="width: 5%">
                          Phone
                      </th>
                      <th style="width: 5%">
                          Other Phone
                      </th>
                      <th style="width: 10%">
                          Governorate
                      </th>
                      <th style="width: 10%">
                          Email
                      </th>
                      <th style="width: 20%">
                      </th>
                  </tr>
              </thead>
              {% for employee in employees %}
              <tbody>
                  <tr>
                      <td>
                          <a>
                              {{employee.employee_code}}
                          </a>
                          <br/>
                      </td>
                      <td>
                          <a>
                              {{employee.employee_name}}
                          </a>
                          <br/>
                          <!---
                          <small>
                              {{employee.birth_date|date:'o M d'}}
                          </small>
                           --->
                      </td>
                      <td>
                          <a>
                              {{employee.employee_national_id}}
                          </a>
                          <br/>
                      </td>
                      <td>
                          <a>
                              {{employee.birth_date|date:'d M o'}}
                          </a>
                          <br/>
                      </td>
                      <td>
                          <a>
                              {{employee.employee_phone_1}}
                          </a>
                          <br/>
                      </td>
                      <td>
                          <a>
                              {{employee.employee_phone_2}}
                          </a>
                          <br/>
                      </td>
                      <td>
                          <a>
                              {{employee.governorate}}
                          </a>
                          <br/>
                      </td>
                      <td>
                          <a>
                              {{employee.employee_email}}
                          </a>
                          <br/>
                      </td>
                      <td class="project-actions text-right">
                          <a class="btn btn-primary btn-sm" href="{% url 'employees:employee_detail' employee.slug %}">
                              <i class="fas fa-folder">
                              </i>
                              View
                          </a>
                          <a class="btn btn-info btn-sm" href="{% url 'employees:employee_edit' employee.slug %}">
                              <i class="fas fa-pencil-alt">
                              </i>
                              Edit
                          </a>
                          <a class="btn btn-danger btn-sm" href="#">
                              <i class="fas fa-trash">
                              </i>
                              Delete
                          </a>
                      </td>
                  </tr>

              </tbody>
              {% endfor %}
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
            <!-- /.card -->
          </div>
        </div>
    </section>
    <!-- /.content -->
  </div>

{% endblock body %}

